<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ivy2testing">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>


    <application
        android:name=".notifications.ChannelCreationApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:label="ivy"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".authentication.StudentSignUpActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".authentication.OrganizationSignUpActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>

        <activity
            android:theme="@style/AppBarTheme"
            android:name=".authentication.LoginActivity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".hometab.CreatePostActivity"
            android:theme="@style/AppBarTheme"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".userProfile.EditStudentProfileActivity"
            android:theme="@style/AppBarTheme"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".userProfile.EditOrganizationProfileActivity"
            android:theme="@style/AppBarTheme"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".userProfile.StudentProfileActivity"
            android:theme="@style/AppBarTheme"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".hometab.ViewPostOrEventActivity"
            android:theme="@style/AppBarTheme"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".main.SeeAllUsersActivity"
            android:theme="@style/AppBarTheme"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".main.SeeAllPostsActivity"
            android:theme="@style/AppBarTheme"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".userProfile.OrganizationProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBarTheme"
            android:parentActivityName=".main.MainActivity"/>

        <activity android:name=".main.ContactUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBarTheme"
            android:parentActivityName=".main.MainActivity"/>

        <activity android:name=".terms.TermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBarTheme"
            android:parentActivityName=".main.MainActivity"/>

        <activity android:name=".userProfile.NotificationCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBarTheme"
            android:parentActivityName=".main.MainActivity"/>

        <activity android:name=".eventstab.ExploreAllEventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBarTheme"
            android:parentActivityName=".main.MainActivity"/>
        <service
            android:name=".notifications.NotificationHandler"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ivy_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/interaction" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_notification_channel_id" />


    </application>

</manifest>